name: Web CI

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - 'web/**'
  pull_request:
    paths:
      - '.github/**'
      - 'web/**'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: web

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v5
        with:
          node-version: '22'

      - run: npm install
      - run: npm run check
        continue-on-error: true
      - run: npm run test:unit